from IPython.display import display, Image, clear_output, HTML
from jupyter_ui_poll import ui_events
from bs4 import BeautifulSoup
import time
import numpy as np
import requests
import json
import ipywidgets as widgets
